<div class="card" id="<%= dom_id blogger %>"> <!-- inicio boocle -->
<div class="card border-info mb-8" style="max-width: 18rem;">
 <div class="card-header">  <p>
    <strong>Titulo:</strong>
    <%= blogger.titulo %>
  </p></div>
  <div class="card-body">
    <h5 class="card-title">  <p>
    <strong>Contenido:</strong>
    <%= blogger.contenido %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= blogger.link %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= blogger.tipo %>
  </p>
</h5>
    <p class="card-text">estado   <p>
    <strong>Estado:</strong>
    <%= blogger.estado %>
  </p>  <%= link_to "Ver articulo completo", blogger %></p>
  </div>
</div> <!-- termina card -->
</div> <!-- termina boble-->


 

