<%= form_with(model: blogger) do |form| %>
  <% if blogger.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blogger.errors.count, "error") %> prohibited this blogger from being saved:</h2>

      <ul>
        <% blogger.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :titulo, style: "display: block" %>
    <%= form.text_field :titulo %>
  </div>

  <div>
    <%= form.label :contenido, style: "display: block" %>
    <%= form.text_field :contenido %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.label :tipo, style: "display: block" %>
    <%= form.number_field :tipo %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.number_field :estado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
