<div id="<%= dom_id noticia %>">
  <p>
    <strong>Titulo:</strong>
    <%= noticia.titulo %>
  </p>

  <p>
    <strong>Contenido:</strong>
    <%= noticia.contenido %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= noticia.link %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= noticia.tipo %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= noticia.estado %>
  </p>

</div>
